<head>
    <link rel="icon" href="/favicon.ico">
    <title>Rabbit Project</title>
</head>

<template name="MainLayout">
  {{#AdminLTE sidebarMini=true}}
    <!-- your html here -->
    <div class="wrapper">
      {{> _sidebar}}
      {{> navbar}}
      <!-- Begin page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header with Breadcrum) -->
        {{> _pageHeader}}
        <!-- Main content -->
        <section class="content">
          {{> Template.dynamic template=content}}
        </section>
      </div>
      <!-- /Container -->
      <!-- Footer -->
      <!--{{> footer}}-->
      <!--{{> tooltips }}-->
      <!-- Status -->
      {{> meteorStatus}}
    </div>
  {{/AdminLTE}}
</template>
