<template name="_sidebar">
  <!-- Left sidebar. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div id="mainnav-shortcut">
          <ul class="list-unstyled">
            <li class="col-xs-4">
              <a id="demo-toggle-aside" class="shortcut-grid" href="{{pathFor 'cpanel.help'}}" target="_blank">
                <i class="fa fa-question-circle" data-tooltip="Help" data-tooltip-direction="s"></i>
              </a>
            </li>
            <li class="col-xs-4">
              <a id="demo-alert" class="shortcut-grid" href="{{pathFor 'cpanel.userProfile'}}">
                <i class="fa fa-cogs" data-tooltip="Setting" data-tooltip-direction="s"></i>
              </a>
            </li>
            <li class="col-xs-4">
              <a id="demo-page-alert" class="shortcut-grid js-logout" href="#">
                <i class="fa fa-power-off" data-tooltip="Log Out" data-tooltip-direction="s"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <!--{{#if navbar.show}}-->
        {{> Template.dynamic template=sidebar}}
        <!--{{> Cpanel_sidebarTool}}-->
        <!--{{/if}}-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
<template name="Cpanel_sidebar">
  <!-- Optionally, you can add icons to the links -->
  <li class="{{isActiveRoute name='cpanel.home'}}">
    <a href="{{pathFor 'cpanel.home'}}">
      <i class="fa fa-home"></i><span>Home</span>
    </a>
  </li>
  <li class="header">SETTING</li>
  <li class="{{isActiveRoute name='cpanel.user'}}">
    <a href="{{pathFor 'cpanel.user'}}">
      <i class="fa fa-user"></i><span>User</span>
    </a>
  </li>
  <li class="{{isActiveRoute name='cpanel.company'}}">
    <a href="{{pathFor 'cpanel.company'}}">
      <i class="fa fa-building"></i><span>Company</span>
    </a>
  </li>
  <li class="{{isActiveRoute name='cpanel.setting'}}">
    <a href="{{pathFor 'cpanel.setting'}}">
      <i class="fa fa-sliders"></i><span>Setting</span>
    </a>
  </li>
  <li class="{{isActiveRoute name='cpanel.exchange'}}">
    <a href="{{pathFor 'cpanel.exchange'}}">
      <i class="fa fa-money"></i><span>Exchange</span>
    </a>
  </li>
  <li class="{{isActiveRoute name='cpanel.branch'}}">
    <a href="{{pathFor 'cpanel.branch'}}">
      <i class="fa fa-sitemap"></i><span>Branch</span>
    </a>
  </li>
  <li class="header">REPORT</li>
  <li class="{{isActiveRoute name='cpanel.eventReport'}}">
    <a href="{{pathFor 'cpanel.eventReport'}}">
      <i class="fa fa-file-text-o"></i><span>Event Report</span>
    </a>
  </li>
</template>
