.select2-dropdown {
    z-index: 9999;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 12px;
}

.quotation {
    padding-right: 37px;
    padding-left: 52px;
}

.maintenance {
    padding-right: 37px;
    padding-left: 23px;
}

.jsInfo {
    color: deepskyblue;
    font-size: medium;
}

.margin-checkbox {
    margin-bottom: 10px;
}

.col-sm-6-custom {
    width: 50%;
    float: left;
}
.col-sm-6-custom-right{
    width: 50%;
    padding-left: 15px;
    float: left;
}

.col-sm-6-custom-left {
    width: 50%;
    padding-right: 15px;
    float: left;
}
.col-sm-6-custom-left > .form-group > label {
    margin-bottom: 0;
}

.col-sm-6-custom-right > .form-group > label {
    margin-bottom: 0;
}

/*.fully, .monthly {*/
/*width: 1282px*/

/*}*/

/*.paymentMethod {*/
/*width: 1306px;*/
/*padding-right: 4px;*/
/*padding-left: 15px;*/
/*}*/
