<head>
    <link rel="icon" href="/favicon.ico">
    <title>Rabbit Project</title>
</head>

<template name="mainLayout">
  {{#AdminLTE sidebarMini=true}}
    <!-- your html here -->
    <div class="wrapper">
      {{> _sidebar}}
      {{> navbar}}
      <!-- Begin page content -->
      <div class="content-wrapper">
        <div class="page-heading">
          <h3>
            {{pageHeader}}
            <small>Subtext for header</small>
          </h3>
          <ol class="breadcrumb">
            {{#each breadcrumb}}
              {{#if activeClass}}
                <li class="{{activeClass}}">{{title}}</li>
              {{else}}
                <li><a href="{{url}}">{{title}}</a></li>
              {{/if}}
            {{/each}}
          </ol>
        </div>
        <!-- Main content -->
        <section class="content">
          {{> Template.dynamic template=content}}
        </section>
      </div>
      <!-- /Container -->
      <!-- Footer -->
      <!--{{> footer}}-->
      <!--{{> tooltips }}-->
      <!-- Status -->
      {{> meteorStatus}}
    </div>
  {{/AdminLTE}}
</template>
